.background {
    width: 100%;
    height: 100%;
    margin-top:auto;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: green; /* 浏览器不支持时显示 */
    background-image: linear-gradient(#339999, #003333);
}

.main_part {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.header {
    background-color: #CCFF99 !important;
    color:black !important;
}


.breadcrumb {
    background-color: #CCFF99;
}

.font_color_b {
    color: black;
}

.pair_search {
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 20px;
    padding:auto;
}
.pair_search_title {
    margin-top: 0px;
    background-color: black;
    color: white;
    text-align: center;
}

.pair_search_body {
    height:40px;
}

.exchange_selector_left {
    border-radius:3px 3px 3px 3px;
    margin-left: 25%;
    margin-top: 8px;
    width: auto;
    padding:auto;
    float: left;
    }

.exchange_selector_right {
    border-radius:3px 3px 3px 3px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8px;
    width: auto;
    padding:auto;
    float: left;
    }

.find_button {
    margin-top: 6px;
    border:1px solid #ccc;
    border-radius:3px 3px 3px 3px;
}


select {
    margin:auto;
    border-radius:3px 3px 3px 3px;
}

select > option {
    border-radius:3px 3px 3px 3px;
}

.btn-left {
        width: 30px;
        backcolor: white;
        margin-left:30;
}

.btn-group-right {
    width: 70%;
}

.font_color_w {
   color: white;
}

.footer {
    color:black;
    text-align: center;
}

