table thead tr th {
    cursor: pointer;
}

.sort-up:after {
    content: '\025b2';
    color: #ccc;
    font-size: 8px;
    position: relative;
    right: -10px;
    top: -3px;
}

.sort-up-dark:after {
    content: '\025b2';
    color: rgba(0, 0, 0, 0.9);
    font-size: 8px;
    position: relative;
    right: -10px;
    top: -3px;
}

.sort-down-dark:after {
   content: '\025bc';
    color: rgba(0, 0, 0, 0.9);
    font-size: 8px;
    position: relative;
    right: -10px;
    top: -3px;
}

.sort-up:active:after,
.sort-up-dark:active:after,
.sort-down-dark:active:after{
    color: rgba(255, 255, 255);
}


.price_up{
    color: rgba(204, 0, 51);
}

.price_down{
    color: rgba(34, 139, 34);
}
